@model System.Collections.Generic.List<Vidly.Models.Movie>

@{
    ViewBag.Title = "title";
}

<h2>Movies</h2>
@Html.ActionLink("New movie", "New", "Movies", new {@class ="btn btn-primary"})
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Genre</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in @Model)
    {
        <tr>
            <th scope="row">@movie.Id</th>
            <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new {movie.Id}, null)</td>
            <td>@movie.Genre.Name</td>
        </tr> 
    }
    </tbody>
</table>
