@using Vidly.Models
@model System.Collections.Generic.List<Vidly.Models.Customer>

<h2>Customers</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Discount Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in @Model)
        {
            <tr>
                <th scope="row">@customer.Id</th>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new {customer.Id}, null )</td>
                <td>@customer.MembershipType.DiscountRate%</td>
            </tr>
        }
    </tbody>
</table>
